#header h1 small {
	font-size: 0.7em;
}
.quick-actions li a .fa{
	background-color: transparent;
    display: block;
    margin: 0 auto 5px;
    font-size: 40px;
}

.update-done p {
	margin: 5px 0;
}

.update-date .btn {
	margin-bottom: 10px;
}
.table th, .widget-title h5 {
	color: #003c6f;
	text-shadow: none;
}
.table th, .table td {
	vertical-align: middle;
}
.table th.center, .table td.center, .table th.text-center, .table td.text-center {
	text-align: center !important;
}

.table tr.active {
	background: #f89406;
    color: #fff;
    box-shadow: 0 0 10px 0px #bbbbbb;
}
.table-hover tbody tr.active:hover>td, .table-hover tbody tr.active:hover>th {
	background: #f89406;
}
.table.hover-pointer tbody tr:hover {
	cursor: pointer;
}

.form-horizontal.detail-item .control-group {
	border: none;
}
.form-horizontal.detail-item .control-label, .form-horizontal.detail-item .controls {
	padding-top: 0px;
}

.tab-pane div.dataTables_wrapper .ui-widget-header {
	border: 1px solid #D5D5D5;
}
.tab-pane .dataTables_filter {
	left: 15px;
}

.quick-actions_homepage {
	margin-bottom: 20px;
}
.quick-actions_homepage h2.title-page{
	text-transform: uppercase;
    font-size: 40px;
    line-height: 95px;
    text-align: left;
    padding-left: 175px;
}

#ajaxLoading {
    height: 10px;
    width: 16px;
    display: block;
    background: url(../img/ajax-loader.gif) no-repeat;
    margin: 0 auto;
    display: none;
}

#detail-area .widget-content .row-fluid{
    margin-top: 0;
    padding-top: 20px;
}
#detail-area .widget-content .table{
    border-top: 1px solid #ddd;
}

#sidebar a.noset, #sidebar a.noset span {
	color: #000 !important;
    cursor: not-allowed;
}

.widget-title .buttons .btn.btn-close {
	margin-left: 15px;
}

.control-label > sub {
	color: red;
    font-size: 20px;
}
.controls .time-picker {
    display: inline-block;
    float: right;
    margin-top: 1px;
}

.bootstrap-timepicker-widget.dropdown-menu {
	left: -35px;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
	left:  71px;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
	left:  72px;
}

#user-nav > ul > li.nam-hoc {
	color: #fff;
	padding: 6px 15px;
}

#header img.logo {
    height: 30px;
    margin-top: -10px;
    margin-right: 5px;
}

.modal-footer {
	border-radius: 0px!important;
}

.quick-actions_homepage img {
	float: left;
    height: 120px;
    border-radius: 50%;
    background: #00000030;
}

.quick-actions_homepage.mod-home img {
	height: 200px;
    position: absolute;
    left: 30px;
    top: 10px;
}

.quick-actions_homepage.mod-home h2.title-page {
	display: none;
}
.quick-actions_homepage.mod-home ul.quick-actions {
    float: right;
    margin-top: 0;
    margin-bottom: 30px;
}